<div class="page-header">
  <h1>About this app</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    This simple blogging site was made using Ruby on Rails and Bootstrap.
    You can view the source on <%= link_to "Github", "https://github.com/ajzeller/rails_blogger" %>.
  </div>  
</div>
