// "bootstrap sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// forms
.form-control {
  margin: auto;
  width: 100%;
}

// buttons

.new_article {
  float: right;
}

.article_buttons {
  float: right;
}

// containers

#main-container {
  max-width: 50%;
}

.comment-container {
  margin: 1em;
}

.tags {
  float: none;
}

// labels

.comment-label {
  float: right;
}

// icons

.delete-tag-icon {
  float: right;
}
