<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to "Blogger", root_path, class: "navbar-brand" %></li>
      <li><%= link_to "New Post", new_article_path %></li>
      <li><%= link_to "All Posts", articles_path %></li>
    </ul>
  </div>
</nav>
